/* === CSS variables === */
:root {
  --theme-spacing-unit: 10pt;
  --theme-spacing-unit-x2: 20pt;
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif
}


/* === Header app bar === */
header .main-title {
  flex-grow: 1;
  margin-left: 1rem;
}

.seccio {
  min-height: 10rem;
  background-color: lightgray;
  padding: 3rem;
}

.mapa {
  background-color: lightskyblue;
}

.centre {
  background-color: lightcoral;
}

.projectes {
  background-color: lightgreen;
}

/* === Error === */
.err-msg {
  padding: var(--theme-spacing-unit-x2);
  margin: auto;
  margin-top: 15rem;
  max-width: 48rem;
}

.err-msg .action-btn {
  margin: 2rem;
}

/* === Programes === */
.prog_logo {
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin-right: 1rem;
}

/* === Mapa === */
.mapa {
  width: 100%;
  height: 80vh;
}