/* === CSS variables === */
:root {
  --theme-spacing-unit: 10pt;
  --theme-spacing-unit-x2: 20pt;
  --theme-palette-background-paper:#fff;
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif
}


/* === Header app bar === */
header .main-title {
  flex-grow: 1;
  margin-left: 1rem;
}


.filler {
  height: 3rem;
}

.seccio {
  padding: 1rem;
}

/* === Error === */
.err-msg {
  padding: var(--theme-spacing-unit-x2);
  margin: auto;
  margin-top: 15rem;
  max-width: 48rem;
}

.err-msg .action-btn {
  margin: 2rem;
}

/* === Programes === */
.prog_list {
  width: 100%;
  max-width: 50rem;
  background-color: var(--theme-palette-background-paper);
}

.prog_logo {
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin-right: 1rem;
}

.leftIcon {
  margin-right: 0.5rem;
}

/* === Mapa === */
.mapa {
  width: 100%;
  height: 80vh;
}