/* === CSS variables === */
:root {
  --theme-spacing-unit: 10pt;
  --theme-spacing-unit-x2: 20pt;
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif
}


/* === Header app bar === */
header .main-title {
  flex-grow: 1;
  margin-left: 1rem;
}

.seccio {
  height: 100vh;
  background-color: lightgray;
  padding: 3rem;
}

.mapa {
  background-color: lightskyblue;
}

.centre {
  background-color: lightcoral;
}

.projectes {
  background-color: lightgreen;
}