/* === CSS variables === */
:root {
  --theme-spacing-unit: 10pt;
  --theme-spacing-unit-x2: 20pt;
  --theme-palette-background-paper:#fff;
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif
}

#filler {
  height: 4rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
  align-items: start;
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem;
}

@media (max-width: 600px){
  main {
    padding: 0;
  }
}

/* === Header === */

header .search-bar {
  padding: 1rem;
  background-color: #4b4b4b;
}

header .search-text {
  background-color: #fff;
}

header .main-title {
  flex-grow: 1;
}

/* === Search bar === */
.search-bar {
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  align-items: center;

}

.search-bar .search-text {
  margin: 0 1rem;
}


/* === Main components === */

.presenta .filler {
  height: 4rem;
}

.paper {
  padding: 1.5rem;
}

.seccio ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.seccio button {
  max-width: 100%;
}

.seccio button div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.seccio h1, h2, h3, h4 {
  margin-top: 0;
}

/* === Loading === */
.loading-msg {
  text-align: center;
  padding: var(--theme-spacing-unit-x2);
  margin: 20vh auto;
  max-width: 800px;
}

.progress {
  margin: 3rem;
}

/* === Error === */
.err-msg {
  padding: var(--theme-spacing-unit-x2);
  margin: 20vh auto;
  max-width: 800px;
}

.err-msg .action-btn {
  margin: 2rem;
}

/* === Presentacio === */
.presenta .close-intro-btn {
  display: block;
  margin: 2rem auto;
}

/* === Programes === */
.prog_list {
  width: 100%;
  max-width: 50rem;
  background-color: var(--theme-palette-background-paper);
  max-height: 80vh;
  overflow-y: auto;
}

.prog_logo {
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin-right: 1rem;
}

.leftIcon {
  margin-right: 0.5rem;
}

section .torna {
  margin-bottom: 0.5rem;
}

.select-all {
  float: right;
  margin-right: 1.5rem;
}

/* === Selector de programes === */

.dialog-content {
  width: 40rem;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.dialog-content .info {
  margin-top: 0.5rem;
}

.nivells {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.select-list {
  max-width: 40rem;
}

/* === Centres === */
.cent_logo {
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin-right: 1rem;
}

.mapa-centre {
  width: 100%;
  height: 600px;
  max-height: 80vh;
}

.progs-centre {
  text-align: left;
}

.centre h4 {
  margin-bottom: 0.2rem;
}

.centre h3 {
  margin-bottom: 0.5rem;
}

/* === Cerca === */
.cerca .close-query-btn {
  display: block;
  margin: 2rem auto;
}

/* === Mapa === */

.mapa {
  width: 100%;
  height: 80vh;
}

/* === Footer === */
footer .foot {
  margin: 3rem auto;
  text-align: center;
  font-size: 0.8rem;
  color: gray;
}

.foot a {
  color: inherit;
  text-decoration: none;
}

.foot a:hover {
  text-decoration: underline;
}
